.nav-link {
    text-decoration: none;
    color: white
}
 .nav-link:hover {
    text-decoration: underline;
    color: white
}

.navbar-brand {
    font-size: 35px;
}

.nav-item {
    font-size: 25px;
}